In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn import tree
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_17.csv')
training_set.head()

,browser_version,color,compras_prod,condition,country,device_type,new_vs_returning,operating_system_version,otros,person,...,label,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,99,21,1,4,5,2,1,19,0,ad93850f,...,0,8,12,11288,14,5,0,14,5,0
1,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,16,5,2
2,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,18,5,4
3,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,18,5,4
4,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,22,5,1

In [3]:
training_set.columns

Index(['browser_version', 'color', 'compras_prod', 'condition', 'country',
       'device_type', 'new_vs_returning', 'operating_system_version', 'otros',
       'person', 'region', 'screen_resolution', 'sku', 'storage',
       'visitas_sitio', 'vistas_prod', 'label', 'marca', 'modelo',
       'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod',
       'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

# Entrenamiento

In [4]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix = training_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'sku', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
dfix = training_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'compras_prod', 'vistas_prod', 'otros', 'visitas_sitio', 'person_int', 'dia', 'mes', 'dia_semana']]

In [6]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [7]:
del training_set
del dfix

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [9]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

208175
165856

In [ ]:
#Buscamos los mejores hiperparametros para el clasificador
clf = tree.DecisionTreeClassifier()

class_weight = ['balanced']
min_samples_split = [2,3,4,5] # int, float, optional (default=2)
max_depth = [1,3,5,8,10,None] # int or None, optional (default=None)
min_samples_leaf = [1,2,3,4] # int, float, optional (default=1)


hyperparameters = dict(class_weight = class_weight, min_samples_split = min_samples_split, max_depth = max_depth, min_samples_leaf = min_samples_leaf)
clf = GridSearchCV(clf, hyperparameters, cv=4, verbose=0)
best_model = clf.fit(X_train, y_train)
print('Best Parameters',clf.best_params_)
print('BEST SCORE:\n',clf.best_score_)

In [10]:
# clf = make_pipeline(
#                     preprocessing.QuantileTransformer(), 
# #                     tree.DecisionTreeClassifier(class_weight= 'balanced', max_depth= None, min_samples_leaf= 1, min_samples_split= 3)
#                     tree.DecisionTreeClassifier()
#                    )

clf = tree.DecisionTreeClassifier()

In [11]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [12]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

69262
55415

# Prediccion

In [13]:
pred = clf.predict(X_test)

In [14]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

69359
55318

In [15]:
print (accuracy_score(y_test, pred))

0.9773254088564851

In [16]:
pred.shape

(124677,)

In [17]:
prediction_set = pd.read_csv('data/set_prediccion_17.csv')
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,visitas_sitio,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,1622,3,4,28,1,0,0,1,78,...,1,6,67,5476,18,5,4,18,5,4
1,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,2,5,2
2,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,2,5,2
3,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,3,5,3
4,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,10,5,3

In [17]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'compras_prod', 'vistas_prod', 'otros', 'visitas_sitio', 'person_int', 'dia', 'mes', 'dia_semana']]
# dfix_prediction = prediction_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'sku', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
dfix_prediction = prediction_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
X_full_data = np.array(dfix_prediction)

NameError: name 'prediction_set' is not defined

In [19]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [20]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,1622,3,4,28,1,0,0,1,78,...,6,67,5476,18,5,4,18,5,4,0
1,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,2,5,2,0
2,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,2,5,2,0
3,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,3,5,3,0
4,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,10,5,3,0

In [21]:
del X_full_data
del pred_full_data

# Resultado

In [22]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [23]:
result.count()

person    19415
dtype: int64

In [24]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
result['label'] = result['label'].astype('int')

In [25]:
result.count()

person    1297430
label     1297430
dtype: int64

In [26]:
result = result.drop_duplicates()
result.count()

person    28282
label     28282
dtype: int64

## Criterio de Duplicados

### OPCION 1

In [27]:
# OPCION 1: eliminamos duplicados haciendo un groupby por person 
# quedandonos con label 1 si la suma es mayor a 0
result1 = result.groupby('person').sum()
result1.reset_index(inplace=True)
result1[['label']] = result1[['label']].applymap(lambda x: 1 if x > 0 else 0)
result1.count()

person    19415
label     19415
dtype: int64

In [28]:
result1[result1['label'] == 1].shape

(9077, 2)

In [29]:
result1[result1['label'] == 0].shape

(10338, 2)

In [30]:
result1.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      1
3  000e4d9e      0
4  000e619d      0

In [31]:
result1.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [32]:
result1.to_csv('data/result_decision_tree_quantile_set15_gridSearch.csv', encoding='utf-8', index=False)

### OPCION 2

In [32]:
# OPCION 2: eliminamos duplicados haciendo un groupby por person
# quedandonos con el valor del label que tanga mayor cantidad de 0s o 1s
result2 = result
result2['cantidad'] = 1 
result2 = pd.DataFrame({'label': result.groupby('person').aggregate(sum)['label'], 'cantidad': result.groupby('person').aggregate(sum)['cantidad']}).reset_index()
result2['criterio'] = (result2.label - (result2.cantidad/3))
result2['label'] = result2['criterio'].apply(lambda x: 1 if (x >= 0) else 0)
result2.drop(['criterio','cantidad'], axis=1, inplace=True)
result2.count()

person    19415
label     19415
dtype: int64

In [33]:
result2[result2['label'] == 1].shape

(9077, 2)

In [34]:
result2[result2['label'] == 0].shape

(10338, 2)

In [35]:
result2.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      1
3  000e4d9e      0
4  000e619d      0

In [36]:
result2.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [37]:
result2.to_csv('data/result_decision_tree_quantile_set17_var_features.csv', encoding='utf-8', index=False)