In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_24.csv')
training_set= training_set[(training_set['label'] == 1) | ((training_set['cant_eventos'] <= 100) & (training_set['label'] == 0))]
training_set.head()

,person,label,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,23,5,2
1,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,23,5,2
2,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,24,5,3
3,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,24,5,3
4,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,25,5,4

In [3]:
training_set.columns

Index(['person', 'label', 'sku', 'condition', 'storage', 'color',
       'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'city',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'visitas_sitio',
       'cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',
       'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod',
       'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user',
       'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

In [4]:
# cols =

# Entrenamiento

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [6]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [7]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [8]:
# dfix = training_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'visitas_sitio','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio','cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user','mes_visit_user', 'dia_sem_visit_user']]
# dfix = training_set.loc[:,['condition', 'storage', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_visit_user','mes_visit_user','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',]]

In [9]:
# dfix = training_set.loc[:,['sku', 'condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]
dfix = training_set.loc[:,['sku', 'condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'country','device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]

In [10]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [11]:
del training_set
del dfix

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [13]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

201567
135162

In [ ]:
# #Busco el mejor k aproximadamente
# for i in range(1, 30):    
#     knn = make_pipeline(
#                     preprocessing.QuantileTransformer(), 
#                     PCA(n_components=10), 
#                     KNeighborsClassifier(n_neighbors=i)
#                    )
#     knn.fit(X_train, y_train)                   
#     pred = knn.predict(X_test)              
#     print ("# " + str(i) + ": " + str(accuracy_score(y_test, pred)))
    
# 1: 0.9793249190280461
# 2: 0.9778216728878303
# 3: 0.9732828862325892
# 4: 0.973166693294215
# 5: 0.9707484277643026
# 6: 0.9702546077762124
# 7: 0.9687077892841063
# 8: 0.9682284934133129
# 9: 0.9673352601995614
# 10: 0.9662096411090616
# 11: 0.9653381940712553
# 12: 0.9645175814439877
# 13: 0.9638857823415782
# 14: 0.9627020667818913
# 15: 0.9626149220781107
# 16: 0.9614820409289625
# 17: 0.9609736968235756
# 18: 0.960116773903066
# 19: 0.9595358092111952
# 20: 0.9585990036455534
# 21: 0.9583230454169148
# 22: 0.9579599424844955
# 23: 0.9572700469128989
# 24: 0.9566019375172474
# 25: 0.9561371657637507
# 26: 0.9554400081335057
# 27: 0.9549824984386573
# 28: 0.9544451060986768
# 29: 0.9544015337467865

# 1: 0.9867788033213356
# 2: 0.9809433020918713
# 3: 0.9745108869961869
# 4: 0.9709739496097787
# 5: 0.9656551797868929
# 6: 0.9634724350522077
# 7: 0.9585278500409822
# 8: 0.956460924414668
# 9: 0.9529239870282599
# 10: 0.9508926980506753
# 11: 0.9470795766366131
# 12: 0.9454670182816008
# 13: 0.9421617191119347
# 14: 0.9414489861373436

In [14]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    PCA(n_components=10), 
                    KNeighborsClassifier(n_neighbors=8)
                   )

In [15]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('pca', PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto'...owski',
           metric_params=None, n_jobs=1, n_neighbors=8, p=2,
           weights='uniform'))])

In [16]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

67165
45079

# Prediccion

In [17]:
pred = clf.predict(X_test)

In [18]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

66813
45431

In [19]:
print (accuracy_score(y_test, pred))

0.95650547022558

In [20]:
pred.shape

(112244,)

In [21]:
prediction_set = pd.read_csv('data/set_prediccion_24.csv')
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,1770,3,4,28,1,1,0,1,94,...,9,6,70,10956,18,5,4,18,5,4
1,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,2,5,2
2,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,2,5,2
3,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,3,5,3
4,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,10,5,3

In [22]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'visitas_sitio','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio','cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user','mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['condition', 'storage', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_visit_user','mes_visit_user','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',]]
# dfix_prediction = prediction_set.loc[:,['sku', 'condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]
dfix_prediction = prediction_set.loc[:,['sku', 'condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'country','device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]
X_full_data = np.array(dfix_prediction)

In [23]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [24]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,1770,3,4,28,1,1,0,1,94,...,6,70,10956,18,5,4,18,5,4,0
1,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,2,5,2,0
2,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,2,5,2,0
3,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,3,5,3,0
4,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,10,5,3,0

In [25]:
del X_full_data
del pred_full_data

# Resultado

In [26]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [27]:
result.count()

person    19415
dtype: int64

In [28]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
# result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [29]:
result.count()

person    1197085
label     1197085
dtype: int64

In [30]:
result = result.drop_duplicates()
result.count()

person    23775
label     23775
dtype: int64

## Criterio de Duplicados

### OPCION 1

In [31]:
# OPCION 1: eliminamos duplicados haciendo un groupby por person 
# quedandonos con label 1 si la suma es mayor a 0
result1 = result.groupby('person').sum()
result1.reset_index(inplace=True)
result1[['label']] = result1[['label']].applymap(lambda x: 1 if x > 0 else 0)
result1.count()

person    19415
label     19415
dtype: int64

In [32]:
result1[result1['label'] == 1].shape

(4954, 2)

In [33]:
result1[result1['label'] == 0].shape

(14461, 2)

In [34]:
result1.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      0
3  000e4d9e      0
4  000e619d      0

In [35]:
result1.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [36]:
result1.to_csv('data/result_knn8_set24_filtro100.csv', encoding='utf-8', index=False)

### OPCION 2

In [37]:
# # OPCION 2: eliminamos duplicados haciendo un groupby por person
# # quedandonos con el valor del label que tanga mayor cantidad de 0s o 1s
# result2 = result
# result2['cantidad'] = 1 
# result2 = pd.DataFrame({'label': result.groupby('person').aggregate(sum)['label'], 'cantidad': result.groupby('person').aggregate(sum)['cantidad']}).reset_index()
# result2['criterio'] = (result2.label - (result2.cantidad/3))
# result2['label'] = result2['criterio'].apply(lambda x: 1 if (x >= 0) else 0)
# result2.drop(['criterio','cantidad'], axis=1, inplace=True)
# result2.count()

person    19415
label     19415
dtype: int64

In [38]:
# result2[result2['label'] == 1].shape

(4195, 2)

In [39]:
# result2[result2['label'] == 0].shape

(15220, 2)

In [40]:
# result2.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      0
3  000e4d9e      0
4  000e619d      0

In [41]:
# result2.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [45]:
# result2.to_csv('data/result_KNN8_set21_var_features.csv', encoding='utf-8', index=False)