In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_17.csv')
training_set.head()

,browser_version,color,compras_prod,condition,country,device_type,new_vs_returning,operating_system_version,otros,person,...,label,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,99,21,1,4,5,2,1,19,0,ad93850f,...,0,8,12,11288,14,5,0,14,5,0
1,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,16,5,2
2,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,18,5,4
3,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,18,5,4
4,99,21,1,4,5,2,2,19,0,ad93850f,...,0,8,12,11288,14,5,0,22,5,1

In [3]:
training_set.columns

Index(['browser_version', 'color', 'compras_prod', 'condition', 'country',
       'device_type', 'new_vs_returning', 'operating_system_version', 'otros',
       'person', 'region', 'screen_resolution', 'sku', 'storage',
       'visitas_sitio', 'vistas_prod', 'label', 'marca', 'modelo',
       'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod',
       'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

# Entrenamiento

In [4]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [6]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [7]:
dfix = training_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [8]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [9]:
del training_set
del dfix

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [11]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

208175
165856

In [12]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(20), random_state=1, max_iter = 200,verbose=True,activation = 'tanh', warm_start = True)
                   )

In [13]:
clf.fit(X_train, y_train)

Iteration 1, loss = 0.52931418
Iteration 2, loss = 0.49542920
Iteration 3, loss = 0.48554551
Iteration 4, loss = 0.47705485
Iteration 5, loss = 0.46849333
Iteration 6, loss = 0.46040734
Iteration 7, loss = 0.45336875
Iteration 8, loss = 0.44765204
Iteration 9, loss = 0.44277308
Iteration 10, loss = 0.43879498
Iteration 11, loss = 0.43569932
Iteration 12, loss = 0.43285634
Iteration 13, loss = 0.43037348
Iteration 14, loss = 0.42829249
Iteration 15, loss = 0.42609485
Iteration 16, loss = 0.42426304
Iteration 17, loss = 0.42250381
Iteration 18, loss = 0.42058667
Iteration 19, loss = 0.41898510
Iteration 20, loss = 0.41736213
Iteration 21, loss = 0.41588659
Iteration 22, loss = 0.41452433
Iteration 23, loss = 0.41305216
Iteration 24, loss = 0.41174563
Iteration 25, loss = 0.41037468
Iteration 26, loss = 0.40907412
Iteration 27, loss = 0.40794690
Iteration 28, loss = 0.40689733
Iteration 29, loss = 0.40588583
Iteration 30, loss = 0.40482440
Iteration 31, loss = 0.40384290
Iteration 32, loss = 0.40308861
Iteration 33, loss = 0.40218580
Iteration 34, loss = 0.40160629
Iteration 35, loss = 0.40066976
Iteration 36, loss = 0.40001416
Iteration 37, loss = 0.39921141
Iteration 38, loss = 0.39881393
Iteration 39, loss = 0.39804267
Iteration 40, loss = 0.39732512
Iteration 41, loss = 0.39696281
Iteration 42, loss = 0.39617026
Iteration 43, loss = 0.39583422
Iteration 44, loss = 0.39497532
Iteration 45, loss = 0.39439211
Iteration 46, loss = 0.39372208
Iteration 47, loss = 0.39348718
Iteration 48, loss = 0.39277439
Iteration 49, loss = 0.39224004
Iteration 50, loss = 0.39157787
Iteration 51, loss = 0.39114590
Iteration 52, loss = 0.39048299
Iteration 53, loss = 0.39009410
Iteration 54, loss = 0.38956708
Iteration 55, loss = 0.38891110
Iteration 56, loss = 0.38873526
Iteration 57, loss = 0.38812861
Iteration 58, loss = 0.38756744
Iteration 59, loss = 0.38712802
Iteration 60, loss = 0.38677427
Iteration 61, loss = 0.38642477
Iteration 62, loss = 0.38615538
Iteration 63, loss = 0.38564703
Iteration 64, loss = 0.38536670
Iteration 65, loss = 0.38504430
Iteration 66, loss = 0.38465175
Iteration 67, loss = 0.38456288
Iteration 68, loss = 0.38404324
Iteration 69, loss = 0.38385457
Iteration 70, loss = 0.38358589
Iteration 71, loss = 0.38317802
Iteration 72, loss = 0.38308364
Iteration 73, loss = 0.38269468
Iteration 74, loss = 0.38246556
Iteration 75, loss = 0.38218918
Iteration 76, loss = 0.38208665
Iteration 77, loss = 0.38189805
Iteration 78, loss = 0.38150578
Iteration 79, loss = 0.38145381
Iteration 80, loss = 0.38110397
Iteration 81, loss = 0.38107958
Iteration 82, loss = 0.38064767
Iteration 83, loss = 0.38048696
Iteration 84, loss = 0.38048202
Iteration 85, loss = 0.38011915
Iteration 86, loss = 0.38007208
Iteration 87, loss = 0.37980391
Iteration 88, loss = 0.37977225
Iteration 89, loss = 0.37954211
Iteration 90, loss = 0.37954742
Iteration 91, loss = 0.37931344
Iteration 92, loss = 0.37913637
Iteration 93, loss = 0.37898569
Iteration 94, loss = 0.37882528
Iteration 95, loss = 0.37869443
Iteration 96, loss = 0.37863449
Iteration 97, loss = 0.37839999
Iteration 98, loss = 0.37815685
Iteration 99, loss = 0.37797058
Iteration 100, loss = 0.37798172
Iteration 101, loss = 0.37777836
Iteration 102, loss = 0.37755969
Iteration 103, loss = 0.37742283
Iteration 104, loss = 0.37728439
Iteration 105, loss = 0.37717921
Iteration 106, loss = 0.37695179
Iteration 107, loss = 0.37672507
Iteration 108, loss = 0.37685709
Iteration 109, loss = 0.37659371
Iteration 110, loss = 0.37640620
Iteration 111, loss = 0.37622078
Iteration 112, loss = 0.37614002
Iteration 113, loss = 0.37607617
Iteration 114, loss = 0.37582345
Iteration 115, loss = 0.37576325
Iteration 116, loss = 0.37570810
Iteration 117, loss = 0.37550210
Iteration 118, loss = 0.37533241
Iteration 119, loss = 0.37532064
Iteration 120, loss = 0.37520547
Iteration 121, loss = 0.37498263
Iteration 122, loss = 0.37508273
Iteration 123, loss = 0.37490223
Iteration 124, loss = 0.37486973
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('mlpclassifier', MLPClassifier(activation='tanh', alpha=1e-05, batch_size='auto', beta_1=0.9,
      ...,
       solver='adam', tol=0.0001, validation_fraction=0.1, verbose=True,
       warm_start=True))])

In [17]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

69262
55415

# Prediccion

In [18]:
pred = clf.predict(X_test)

In [19]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

68342
56335

In [20]:
print (accuracy_score(y_test, pred))

0.8325112089639629

In [21]:
pred.shape

(124677,)

In [22]:
prediction_set = pd.read_csv('data/set_prediccion_17.csv')
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,visitas_sitio,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,1622,3,4,28,1,0,0,1,78,...,1,6,67,5476,18,5,4,18,5,4
1,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,2,5,2
2,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,2,5,2
3,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,3,5,3
4,0297fc1e,1572,1,4,34,1,0,0,2,78,...,1,8,13,189,22,5,1,10,5,3

In [23]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
dfix_prediction = prediction_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
X_full_data = np.array(dfix_prediction)

In [24]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [25]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,1622,3,4,28,1,0,0,1,78,...,6,67,5476,18,5,4,18,5,4,0
1,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,2,5,2,0
2,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,2,5,2,0
3,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,3,5,3,0
4,0297fc1e,1572,1,4,34,1,0,0,2,78,...,8,13,189,22,5,1,10,5,3,0

In [26]:
del X_full_data
del pred_full_data

# Resultado

In [27]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [28]:
result.count()

person    19415
dtype: int64

In [29]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
# result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [30]:
result.count()

person    1297430
label     1297430
dtype: int64

In [31]:
result = result.drop_duplicates()
result.count()

person    23845
label     23845
dtype: int64

## Criterio de Duplicados

### OPCION 1

In [32]:
# OPCION 1: eliminamos duplicados haciendo un groupby por person 
# quedandonos con label 1 si la suma es mayor a 0
result1 = result.groupby('person').sum()
result1.reset_index(inplace=True)
result1[['label']] = result1[['label']].applymap(lambda x: 1 if x > 0 else 0)
result1.count()

person    19415
label     19415
dtype: int64

In [33]:
result1[result1['label'] == 1].shape

(4482, 2)

In [34]:
result1[result1['label'] == 0].shape

(14933, 2)

In [35]:
result1.head()

     person  label
0  00091926      0
1  00091a7a      1
2  000ba417      1
3  000e4d9e      0
4  000e619d      1

In [36]:
result1.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [54]:
result1.to_csv('data/result_random_forest_set17.csv', encoding='utf-8', index=False)

### OPCION 2

In [37]:
# OPCION 2: eliminamos duplicados haciendo un groupby por person
# quedandonos con el valor del label que tanga mayor cantidad de 0s o 1s
result2 = result
result2['cantidad'] = 1 
result2 = pd.DataFrame({'label': result.groupby('person').aggregate(sum)['label'], 'cantidad': result.groupby('person').aggregate(sum)['cantidad']}).reset_index()
result2['criterio'] = (result2.label - (result2.cantidad/3))
result2['label'] = result2['criterio'].apply(lambda x: 1 if (x >= 0) else 0)
result2.drop(['criterio','cantidad'], axis=1, inplace=True)
result2.count()

person    19415
label     19415
dtype: int64

In [38]:
result2[result2['label'] == 1].shape

(4482, 2)

In [39]:
result2[result2['label'] == 0].shape

(14933, 2)

In [40]:
result2.head()

     person  label
0  00091926      0
1  00091a7a      1
2  000ba417      1
3  000e4d9e      0
4  000e619d      1

In [41]:
result2.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [42]:
result2.to_csv('data/result_MLP_set17.csv', encoding='utf-8', index=False)