In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn import tree
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_5.csv')
training_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,sku,model,condition,storage,color,new_vs_returning,region,country,device_type,...,browser_version,conversion,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,380c0e60,6314,104,3,3,38,1,96,7,1,...,114,1,8013,29,5,1,29,5,1,0
1,380c0e60,6314,104,3,3,38,0,96,7,1,...,114,1,8013,29,5,1,23,4,0,0
2,380c0e60,6314,104,3,3,38,1,96,7,1,...,114,1,8013,29,5,1,2,5,2,0
3,380c0e60,6314,104,3,3,38,1,96,7,1,...,114,1,8013,29,5,1,22,5,1,0
4,380c0e60,6314,104,3,3,38,1,96,7,1,...,114,1,8013,29,5,1,23,5,2,0

In [3]:
training_set.columns

Index(['person', 'sku', 'model', 'condition', 'storage', 'color',
       'new_vs_returning', 'region', 'country', 'device_type',
       'screen_resolution', 'operating_system_version', 'browser_version',
       'conversion', 'person_int', 'dia_view_prod', 'mes_view_prod',
       'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user',
       'dia_sem_visit_user', 'label'],
      dtype='object')

# Entrenamiento

In [4]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [6]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'device_type', 'operating_system_version', 'dia_view_prod', 'dia_visit_user']]

In [7]:
# dfix = training_set.loc[:,['sku', 'model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'conversion', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'conversion', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [8]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [9]:
del training_set
del dfix

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [11]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    tree.DecisionTreeClassifier()
                   )

In [12]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('decisiontreeclassifier', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None...      min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'))])

# Prediccion

In [14]:
pred = clf.predict(X_test)

In [15]:
print (accuracy_score(y_test, pred))

0.9980636795552162

In [16]:
pred.shape

(2123099,)

In [17]:
prediction_set = pd.read_csv('data/set_prediccion_5.csv')
prediction_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,sku,model,condition,storage,color,new_vs_returning,region,country,device_type,...,operating_system_version,browser_version,conversion,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,12,5,5
1,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,12,5,5
2,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,15,5,1
3,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,18,5,4
4,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,18,5,4

In [18]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'device_type', 'operating_system_version', 'dia_view_prod', 'dia_visit_user']]
# dfix_prediction = prediction_set.loc[:,['sku', 'model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'conversion', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'conversion', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
X_full_data = np.array(dfix_prediction)

In [19]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [20]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,sku,model,condition,storage,color,new_vs_returning,region,country,device_type,...,browser_version,conversion,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,49c19e32,2683,187,0,1,51,1,96,7,1,...,122,1,10626,18,5,4,12,5,5,0
1,49c19e32,2683,187,0,1,51,1,96,7,1,...,122,1,10626,18,5,4,12,5,5,0
2,49c19e32,2683,187,0,1,51,1,96,7,1,...,122,1,10626,18,5,4,15,5,1,0
3,49c19e32,2683,187,0,1,51,1,96,7,1,...,122,1,10626,18,5,4,18,5,4,0
4,49c19e32,2683,187,0,1,51,1,96,7,1,...,122,1,10626,18,5,4,18,5,4,0

In [21]:
del X_full_data
del pred_full_data

# Resultado

In [22]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [23]:
result.count()

person    19415
dtype: int64

In [24]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [25]:
result.count()

person    7761946
label     7761946
dtype: int64

In [26]:
result = result.drop_duplicates()
result.count()

person    24753
label     24753
dtype: int64

In [27]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [28]:
result[result['label'] == 1].shape

(5772, 2)

In [29]:
result[result['label'] == 0].shape

(13643, 2)

In [30]:
result.to_csv('data/result_decision_tree_quantile_set5.csv', encoding='utf-8', index=False)

In [31]:
result.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      0
3  000e4d9e      1
4  000e619d      0