In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn import preprocessing

/home/prpablo/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_3.csv')
training_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,380c0e60,3,3,3,2,1,2,3,4,13,...,15,29,5,7,13,29,5,11,32,0
1,380c0e60,3,3,3,2,0,2,3,4,13,...,15,29,5,7,13,23,4,3,43,0
2,380c0e60,3,3,3,2,1,2,3,4,13,...,16,29,5,7,13,6,5,9,19,0
3,380c0e60,3,3,3,2,1,2,3,4,13,...,17,29,5,7,13,25,5,7,12,0
4,380c0e60,3,3,3,2,1,2,3,4,13,...,15,29,5,6,59,29,5,11,32,0

In [3]:
training_set.columns

Index(['person', 'model', 'condition', 'storage', 'color', 'new_vs_returning',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'dia_view_prod',
       'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user',
       'mes_visit_user', 'hora_visit_user', 'minuto_visit_user', 'label'],
      dtype='object')

# Entrenamiento

In [4]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [6]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
min_max_scaler = preprocessing.QuantileTransformer()
x_scaled = min_max_scaler.fit_transform(dfix.values)
dfix = pd.DataFrame(x_scaled)

In [7]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [8]:
del training_set
del dfix

In [9]:
pca = PCA(n_components=3)
pca.fit(X)
X = pca.transform(X)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [11]:
clf1 = tree.DecisionTreeClassifier()
clf2 = KNeighborsClassifier(n_neighbors=8)
clf = VotingClassifier(estimators=[('tree', clf1), ('knn', clf2)])

In [12]:
clf.fit(X_train, y_train)

VotingClassifier(estimators=[('tree', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_le...owski',
           metric_params=None, n_jobs=1, n_neighbors=8, p=2,
           weights='uniform'))],
         flatten_transform=None, n_jobs=1, voting='hard', weights=None)

# Prediccion

In [13]:
pred = clf.predict(X_test)

/home/prpablo/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [14]:
print (accuracy_score(y_test, pred))

0.9082371385393466

In [15]:
pred.shape

(265347,)

In [16]:
prediction_set = pd.read_csv('data/set_prediccion_3.csv')
prediction_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
0,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,12,5,3,2
1,49c19e32,1,1,1,1,0,2,3,4,5,6,7,18,5,1,12,11,5,23,44
2,39df97e0,2,2,2,1,1,9,3,4,5,10,7,29,5,7,51,30,5,10,59
3,39df97e0,2,2,2,1,1,11,3,4,5,10,7,29,5,7,51,29,5,0,36
4,39df97e0,2,2,2,1,0,9,3,4,5,10,12,29,5,7,51,28,2,1,34

In [17]:
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
min_max_scaler = preprocessing.QuantileTransformer()
x_scaled = min_max_scaler.fit_transform(dfix_prediction.values)
dfix_prediction = pd.DataFrame(x_scaled)

In [18]:
X_prediction = np.array(dfix_prediction)
pca = PCA(n_components=3)
pca.fit(X_prediction)
X_full_data = pca.transform(X_prediction)

In [19]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [20]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,49c19e32,1,1,1,1,1,2,3,4,5,...,7,18,5,1,12,12,5,3,2,0
1,49c19e32,1,1,1,1,0,2,3,4,5,...,7,18,5,1,12,11,5,23,44,0
2,39df97e0,2,2,2,1,1,9,3,4,5,...,7,29,5,7,51,30,5,10,59,0
3,39df97e0,2,2,2,1,1,11,3,4,5,...,7,29,5,7,51,29,5,0,36,0
4,39df97e0,2,2,2,1,0,9,3,4,5,...,12,29,5,7,51,28,2,1,34,0

In [21]:
del X_full_data
del pred_full_data

# Resultado

In [22]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [23]:
result.count()

person    19415
dtype: int64

In [24]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [25]:
result.count()

person    1070083
label     1070083
dtype: int64

In [26]:
result = result.drop_duplicates()
result.count()

person    23036
label     23036
dtype: int64

In [27]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [28]:
result[result['label'] == 1].shape

(3657, 2)

In [29]:
result[result['label'] == 0].shape

(15758, 2)

In [29]:
result.to_csv('data/result_tree_knn.csv', encoding='utf-8', index=False)

In [30]:
result.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      1
3  000e4d9e      1
4  000e619d      0