In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.naive_bayes import GaussianNB
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [3]:
training_set = pd.read_csv('data/set_entrenamiento.csv')
training_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,15ea8012,1,1,1,1,0,1,2,3,4,...,6,18,5,0,29,17,5,16,13,0
1,15ea8012,1,1,1,1,1,1,2,3,4,...,6,18,5,0,29,18,5,0,18,0
2,15ea8012,1,1,1,1,1,1,2,3,4,...,6,18,5,0,29,18,5,2,55,0
3,15ea8012,1,1,1,2,0,1,2,3,4,...,6,18,5,0,31,17,5,16,13,0
4,15ea8012,1,1,1,2,1,1,2,3,4,...,6,18,5,0,31,18,5,0,18,0

In [4]:
training_set.columns

Index(['person', 'model', 'condition', 'storage', 'color', 'new_vs_returning',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'dia_view_prod',
       'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user',
       'mes_visit_user', 'hora_visit_user', 'minuto_visit_user', 'label'],
      dtype='object')

# Entrenamiento

In [5]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [6]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [7]:
del training_set
del dfix

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [9]:
clf = GaussianNB()

In [10]:
clf.fit(X_train, y_train)

GaussianNB(priors=None)

# Prediccion

In [11]:
pred = clf.predict(X_test)

In [12]:
print (accuracy_score(y_test, pred))

0.8623514715450344

In [13]:
pred.shape

(3899337,)

In [14]:
prediction_set = pd.read_csv('data/set_prediccion.csv')
prediction_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
0,d614c608,4,2,4,5,0,1,2,3,4,8,6,18,5,0,38,17,5,3,37
1,d614c608,4,2,4,5,1,1,2,3,4,8,6,18,5,0,38,18,5,0,38
2,d614c608,4,2,4,5,1,1,2,3,4,8,6,18,5,0,38,26,5,1,12
3,55d1e0ee,5,1,5,3,1,9,2,3,4,8,10,18,5,0,57,20,5,14,6
4,55d1e0ee,5,1,5,3,1,9,2,3,4,8,10,18,5,0,57,20,5,18,30

In [16]:
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
X_full_data = np.array(dfix_prediction)

In [17]:
del dfix_prediction

In [18]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,d614c608,4,2,4,5,0,1,2,3,4,...,6,18,5,0,38,17,5,3,37,0
1,d614c608,4,2,4,5,1,1,2,3,4,...,6,18,5,0,38,18,5,0,38,0
2,d614c608,4,2,4,5,1,1,2,3,4,...,6,18,5,0,38,26,5,1,12,0
3,55d1e0ee,5,1,5,3,1,9,2,3,4,...,10,18,5,0,57,20,5,14,6,0
4,55d1e0ee,5,1,5,3,1,9,2,3,4,...,10,18,5,0,57,20,5,18,30,0

# Resultado

In [19]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [20]:
result.count()

person    19415
dtype: int64

In [21]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [22]:
result.count()

person    14473503
label     14473503
dtype: int64

In [23]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [24]:
result[result['label'] == 1].shape

(1396, 2)

In [25]:
result[result['label'] == 0].shape

(18019, 2)

In [27]:
result.to_csv('data/result_gaussianNB.csv', encoding='utf-8', index=False)

In [26]:
result.head()

     person  label
0  00091926      0
1  00091a7a      0
2  000ba417      0
3  000e4d9e      0
4  000e619d      0