In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [3]:
training_set = pd.read_csv('data/set_entrenamiento.csv', low_memory='False')
training_set.head()

C:\Users\Memphis\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,label,dia_x,mes_x,hora_x,minuto_x,dia_y,mes_y,hora_y,minuto_y
0,ad93850f,1,1,1,1,0,1,2,3,4,...,6,0,14,5,23,54,14,5,23,50
1,ad93850f,1,1,1,1,1,1,2,3,4,...,6,0,14,5,23,54,16,5,2,48
2,ad93850f,1,1,1,1,1,1,2,3,4,...,6,0,14,5,23,54,18,5,0,11
3,ad93850f,1,1,1,1,1,1,2,3,4,...,6,0,14,5,23,54,18,5,22,11
4,ad93850f,1,1,1,1,1,1,2,3,4,...,6,0,14,5,23,54,22,5,22,41

In [3]:
training_set.columns

Index(['person', 'model', 'condition', 'storage', 'color', 'new_vs_returning',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'dia_view_prod',
       'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user',
       'mes_visit_user', 'hora_visit_user', 'minuto_visit_user', 'label'],
      dtype='object')

# Entrenamiento

In [4]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
min_max_scaler = preprocessing.QuantileTransformer()
x_scaled = min_max_scaler.fit_transform(dfix.values)
dfix = pd.DataFrame(x_scaled)

In [5]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [6]:
del training_set
del dfix

In [7]:
pca = PCA(n_components=3)
pca.fit(X)
X = pca.transform(X)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [9]:
#Busco el mejor k aproximadamente
for i in range(1, 20):    
    knn = KNeighborsClassifier(n_neighbors=i) 
    knn.fit(X_train, y_train)                   
    pred = knn.predict(X_test)              
    print ("# " + str(i) + ": " + str(accuracy_score(y_test, pred)))

# 1: 0.924147361461705
# 2: 0.9265041723759706
# 3: 0.9203223522357775
# 4: 0.9232302824813552
# 5: 0.9204375000160284
# 6: 0.9219167258433933
# 7: 0.9202759340882822
# 8: 0.9213443208422355
# 9: 0.9203382523746986
# 10: 0.9210140082788433
# 11: 0.9203015794736388
# 12: 0.9207224202473395
# 13: 0.9202361837409796
# 14: 0.9204603244089957
# 15: 0.9200625644821158
# 16: 0.9202508016106328
# 17: 0.9199856283260462
# 18: 0.9200353803736379
# 19: 0.9198127784287431

In [10]:
clf = KNeighborsClassifier(n_neighbors=2)

In [11]:
clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=2, p=2,
           weights='uniform')

# Prediccion

In [12]:
pred = clf.predict(X_test)

In [13]:
print (accuracy_score(y_test, pred))

0.9265041723759706

In [14]:
pred.shape

(3899337,)

In [15]:
prediction_set = pd.read_csv('data/set_prediccion.csv')
prediction_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
0,d614c608,4,2,4,5,0,1,2,3,4,8,6,18,5,0,38,17,5,3,37
1,d614c608,4,2,4,5,1,1,2,3,4,8,6,18,5,0,38,18,5,0,38
2,d614c608,4,2,4,5,1,1,2,3,4,8,6,18,5,0,38,26,5,1,12
3,55d1e0ee,5,1,5,3,1,9,2,3,4,8,10,18,5,0,57,20,5,14,6
4,55d1e0ee,5,1,5,3,1,9,2,3,4,8,10,18,5,0,57,20,5,18,30

In [16]:
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
min_max_scaler = preprocessing.QuantileTransformer()
x_scaled = min_max_scaler.fit_transform(dfix_prediction.values)
dfix_prediction = pd.DataFrame(x_scaled)

In [17]:
X_prediction = np.array(dfix_prediction)
pca = PCA(n_components=3)
pca.fit(X_prediction)
X_full_data = pca.transform(X_prediction)

In [18]:
del dfix_prediction

In [19]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,d614c608,4,2,4,5,0,1,2,3,4,...,6,18,5,0,38,17,5,3,37,0
1,d614c608,4,2,4,5,1,1,2,3,4,...,6,18,5,0,38,18,5,0,38,0
2,d614c608,4,2,4,5,1,1,2,3,4,...,6,18,5,0,38,26,5,1,12,0
3,55d1e0ee,5,1,5,3,1,9,2,3,4,...,10,18,5,0,57,20,5,14,6,0
4,55d1e0ee,5,1,5,3,1,9,2,3,4,...,10,18,5,0,57,20,5,18,30,0

# Resultado

In [47]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [48]:
result.count()

person    19415
dtype: int64

In [49]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [50]:
result.count()

person    14473503
label     14473503
dtype: int64

In [51]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [52]:
result[result['label'] == 1].shape

(8942, 2)

In [53]:
result[result['label'] == 0].shape

(10473, 2)

In [54]:
result.to_csv('data/result_knn.csv', encoding='utf-8', index=False)

In [55]:
result.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      1
3  000e4d9e      1
4  000e619d      0