In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

In [2]:
training_set = pd.read_csv('data/set_entrenamiento.csv')
training_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,sku,model,condition,storage,color,new_vs_returning,region,country,device_type,...,browser_version,label,dia_x,mes_x,hora_x,minuto_x,dia_y,mes_y,hora_y,minuto_y
0,15ea8012,12802.0,1,1,1,1,0,1,2,3,...,6,1,18,5,0,29,17,5,16,13
1,15ea8012,12802.0,1,1,1,1,1,1,2,3,...,6,1,18,5,0,29,18,5,0,18
2,15ea8012,12802.0,1,1,1,1,1,1,2,3,...,6,1,18,5,0,29,18,5,2,55
3,15ea8012,12788.0,1,1,1,2,0,1,2,3,...,6,1,18,5,0,31,17,5,16,13
4,15ea8012,12788.0,1,1,1,2,1,1,2,3,...,6,1,18,5,0,31,18,5,0,18

In [3]:
training_set.columns

Index(['person', 'sku', 'model', 'condition', 'storage', 'color',
       'new_vs_returning', 'region', 'country', 'device_type',
       'screen_resolution', 'operating_system_version', 'browser_version',
       'label', 'dia_x', 'mes_x', 'hora_x', 'minuto_x', 'dia_y', 'mes_y',
       'hora_y', 'minuto_y'],
      dtype='object')

# Entrenamiento

In [4]:
training_cols = training_set.head(0)
training_cols.drop(['person', 'sku','label'],inplace=True, axis=1)
training_cols = training_cols.columns
training_cols

/home/prpablo/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

Index(['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region',
       'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'dia_x', 'mes_x',
       'hora_x', 'minuto_x', 'dia_y', 'mes_y', 'hora_y', 'minuto_y'],
      dtype='object')

In [5]:
dfix = training_set.loc[:,training_cols];
dfix.head()

,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_x,mes_x,hora_x,minuto_x,dia_y,mes_y,hora_y,minuto_y
0,1,1,1,1,0,1,2,3,4,5,6,18,5,0,29,17,5,16,13
1,1,1,1,1,1,1,2,3,4,5,6,18,5,0,29,18,5,0,18
2,1,1,1,1,1,1,2,3,4,5,6,18,5,0,29,18,5,2,55
3,1,1,1,2,0,1,2,3,4,5,6,18,5,0,31,17,5,16,13
4,1,1,1,2,1,1,2,3,4,5,6,18,5,0,31,18,5,0,18

In [6]:
X = np.array(dfix)
y = np.array(training_set['label'])

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

MemoryError:

In [ ]:
#Busco el mejor k aproximadamente
for i in range(1, 2):    
    knn = KNeighborsClassifier(n_neighbors=i) 
    knn.fit(X_train, y_train)                   
    pred = knn.predict(X_test)              
    print ("# " + str(i) + ": " + str(accuracy_score(y_test, pred)))

In [ ]:
clf = NeighborsClassifier(n_neighbors=?)

In [ ]:
clf.fit(X_train, y_train)

# Prediccion

In [ ]:
pred = clf.predict(X_test)

In [ ]:
print (accuracy_score(y_test, pred))

In [ ]:
pred.shape

In [ ]:
X_full_data = np.array(dfix)
pred_full_data = clf.predict(X_full_data)
training_set['label_prediction'] = pred_full_data
training_set.head()

# Resultado

In [ ]:
result = pd.read_csv('data/labels_training_set.csv')
result = pd.merge(result, training_set, how='left', on='person')
result = result[['person', 'label', 'label_prediction']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')
result['label_prediction'] = result['label_prediction'].astype('int')
result.loc[(result['label_prediction'] == 0) & (result['label'] == 1), 'label_prediction'] = 1
result[(result['label_prediction'] == 0) & (result['label'] == 1)]['label_prediction']
result.drop('label', axis=1, inplace=True)

In [ ]:
result[result['label_prediction'] == 1].shape

In [ ]:
result[result['label_prediction'] == 0].shape

In [ ]:
result.to_csv('data/result_knn.csv', encoding='utf-8', index=False)