In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_2.csv')
training_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,15ea8012,61,62,63,64,65,66,67,68,69,...,71,18,5,0,29,17,5,16,13,0
1,15ea8012,61,62,63,64,72,66,67,68,69,...,71,18,5,0,29,18,5,0,18,0
2,15ea8012,61,62,63,64,72,66,67,68,69,...,71,18,5,0,29,18,5,2,55,0
3,15ea8012,61,62,63,73,65,66,67,68,69,...,71,18,5,0,31,17,5,16,13,0
4,15ea8012,61,62,63,73,72,66,67,68,69,...,71,18,5,0,31,18,5,0,18,0

In [3]:
training_set.columns

Index(['person', 'model', 'condition', 'storage', 'color', 'new_vs_returning',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'dia_view_prod',
       'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user',
       'mes_visit_user', 'hora_visit_user', 'minuto_visit_user', 'label'],
      dtype='object')

# Entrenamiento

In [4]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [6]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [7]:
del training_set
del dfix

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [11]:
clf = LogisticRegression()

In [12]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('logisticregression', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))])

# Prediccion

In [13]:
pred = clf.predict(X_test)

In [14]:
print (accuracy_score(y_test, pred))

0.8954419687244267

In [15]:
pred.shape

(3899337,)

In [16]:
prediction_set = pd.read_csv('data/set_prediccion_2.csv')
prediction_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
0,d614c608,82,75,83,84,65,66,67,68,69,85,71,18,5,0,38,17,5,3,37
1,d614c608,82,75,83,84,72,66,67,68,69,85,71,18,5,0,38,18,5,0,38
2,d614c608,82,75,83,84,72,66,67,68,69,85,71,18,5,0,38,26,5,1,12
3,55d1e0ee,86,62,87,77,72,88,67,68,69,85,89,18,5,0,57,20,5,14,6
4,55d1e0ee,86,62,87,77,72,88,67,68,69,85,89,18,5,0,57,20,5,18,30

In [17]:
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
X_full_data = np.array(dfix_prediction)

In [18]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [19]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,d614c608,82,75,83,84,65,66,67,68,69,...,71,18,5,0,38,17,5,3,37,0
1,d614c608,82,75,83,84,72,66,67,68,69,...,71,18,5,0,38,18,5,0,38,0
2,d614c608,82,75,83,84,72,66,67,68,69,...,71,18,5,0,38,26,5,1,12,0
3,55d1e0ee,86,62,87,77,72,88,67,68,69,...,89,18,5,0,57,20,5,14,6,0
4,55d1e0ee,86,62,87,77,72,88,67,68,69,...,89,18,5,0,57,20,5,18,30,0

In [20]:
del X_full_data
del pred_full_data

# Resultado

In [21]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [22]:
result.count()

person    19415
dtype: int64

In [23]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [24]:
result.count()

person    14473503
label     14473503
dtype: int64

In [25]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [26]:
result[result['label'] == 1].shape

(0, 2)

In [27]:
result[result['label'] == 0].shape

(19415, 2)

In [32]:
result.to_csv('data/result_logistic.csv', encoding='utf-8', index=False)

In [33]:
result.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      1
3  000e4d9e      1
4  000e619d      1