In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_21.csv')
training_set.head()

,person,label,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,23,5,2
1,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,23,5,2
2,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,24,5,3
3,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,24,5,3
4,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,25,5,4

In [3]:
training_set.columns

Index(['person', 'label', 'sku', 'condition', 'storage', 'color',
       'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'city',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'visitas_sitio',
       'cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',
       'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod',
       'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user',
       'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

In [4]:
training_set= training_set[(training_set['label'] == 1) | ((training_set['cant_eventos'] <= 100) & (training_set['label'] == 0))]

# Entrenamiento

In [5]:
# dfix = training_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [6]:
dfix = training_set.loc[:,['color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [7]:
# dfix = training_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'visitas_sitio','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio','cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user','mes_visit_user', 'dia_sem_visit_user']]
# dfix = training_set.loc[:,['condition', 'storage', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_visit_user','mes_visit_user','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',]]

In [8]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [9]:
del training_set
del dfix

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [11]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

208466
204639

In [12]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
#                     MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(20,5), random_state=1, max_iter = 200,verbose=True,activation = 'tanh', warm_start = True)
                    MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(20), random_state=1, max_iter = 200,verbose=True,activation = 'tanh', warm_start = True)
#                     MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(20), random_state=1, max_iter = 200,verbose=True,activation = 'logistic', warm_start = True)
                   )

# clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(20), random_state=1, max_iter = 200,verbose=True,activation = 'tanh', warm_start = True)

In [13]:
clf.fit(X_train, y_train)

Iteration 1, loss = 0.50968129
Iteration 2, loss = 0.47520301
Iteration 3, loss = 0.46580696
Iteration 4, loss = 0.46066764
Iteration 5, loss = 0.45616854
Iteration 6, loss = 0.45132189
Iteration 7, loss = 0.44619200
Iteration 8, loss = 0.44124338
Iteration 9, loss = 0.43647743
Iteration 10, loss = 0.43212336
Iteration 11, loss = 0.42813274
Iteration 12, loss = 0.42443789
Iteration 13, loss = 0.42107469
Iteration 14, loss = 0.41804087
Iteration 15, loss = 0.41557631
Iteration 16, loss = 0.41348694
Iteration 17, loss = 0.41156480
Iteration 18, loss = 0.40984977
Iteration 19, loss = 0.40821996
Iteration 20, loss = 0.40681763
Iteration 21, loss = 0.40571942
Iteration 22, loss = 0.40464378
Iteration 23, loss = 0.40348222
Iteration 24, loss = 0.40258405
Iteration 25, loss = 0.40147734
Iteration 26, loss = 0.40056027
Iteration 27, loss = 0.39987177
Iteration 28, loss = 0.39886389
Iteration 29, loss = 0.39816959
Iteration 30, loss = 0.39748025
Iteration 31, loss = 0.39684791
Iteration 32, loss = 0.39629657
Iteration 33, loss = 0.39572041
Iteration 34, loss = 0.39506831
Iteration 35, loss = 0.39456395
Iteration 36, loss = 0.39401021
Iteration 37, loss = 0.39347703
Iteration 38, loss = 0.39295475
Iteration 39, loss = 0.39250767
Iteration 40, loss = 0.39198927
Iteration 41, loss = 0.39161839
Iteration 42, loss = 0.39106006
Iteration 43, loss = 0.39056888
Iteration 44, loss = 0.39009750
Iteration 45, loss = 0.38998671
Iteration 46, loss = 0.38943752
Iteration 47, loss = 0.38878544
Iteration 48, loss = 0.38838975
Iteration 49, loss = 0.38807504
Iteration 50, loss = 0.38747650
Iteration 51, loss = 0.38717669
Iteration 52, loss = 0.38664970
Iteration 53, loss = 0.38636683
Iteration 54, loss = 0.38599686
Iteration 55, loss = 0.38559211
Iteration 56, loss = 0.38540927
Iteration 57, loss = 0.38486588
Iteration 58, loss = 0.38447338
Iteration 59, loss = 0.38396651
Iteration 60, loss = 0.38375526
Iteration 61, loss = 0.38337149
Iteration 62, loss = 0.38313056
Iteration 63, loss = 0.38279808
Iteration 64, loss = 0.38239471
Iteration 65, loss = 0.38202596
Iteration 66, loss = 0.38173793
Iteration 67, loss = 0.38129323
Iteration 68, loss = 0.38122563
Iteration 69, loss = 0.38065557
Iteration 70, loss = 0.38038823
Iteration 71, loss = 0.38027668
Iteration 72, loss = 0.37982785
Iteration 73, loss = 0.37956112
Iteration 74, loss = 0.37909887
Iteration 75, loss = 0.37899332
Iteration 76, loss = 0.37859663
Iteration 77, loss = 0.37834999
Iteration 78, loss = 0.37804006
Iteration 79, loss = 0.37771014
Iteration 80, loss = 0.37748201
Iteration 81, loss = 0.37718653
Iteration 82, loss = 0.37681509
Iteration 83, loss = 0.37659443
Iteration 84, loss = 0.37624530
Iteration 85, loss = 0.37592143
Iteration 86, loss = 0.37567121
Iteration 87, loss = 0.37540664
Iteration 88, loss = 0.37511503
Iteration 89, loss = 0.37477110
Iteration 90, loss = 0.37461515
Iteration 91, loss = 0.37446983
Iteration 92, loss = 0.37402393
Iteration 93, loss = 0.37378900
Iteration 94, loss = 0.37352743
Iteration 95, loss = 0.37333551
Iteration 96, loss = 0.37294358
Iteration 97, loss = 0.37289395
Iteration 98, loss = 0.37253551
Iteration 99, loss = 0.37240166
Iteration 100, loss = 0.37214573
Iteration 101, loss = 0.37191326
Iteration 102, loss = 0.37167095
Iteration 103, loss = 0.37149514
Iteration 104, loss = 0.37132152
Iteration 105, loss = 0.37111951
Iteration 106, loss = 0.37091486
Iteration 107, loss = 0.37080902
Iteration 108, loss = 0.37059950
Iteration 109, loss = 0.37052845
Iteration 110, loss = 0.37034439
Iteration 111, loss = 0.37007590
Iteration 112, loss = 0.37007588
Iteration 113, loss = 0.36964507
Iteration 114, loss = 0.36966697
Iteration 115, loss = 0.36956412
Iteration 116, loss = 0.36924913
Iteration 117, loss = 0.36927829
Iteration 118, loss = 0.36902166
Iteration 119, loss = 0.36899822
Iteration 120, loss = 0.36883858
Iteration 121, loss = 0.36874821
Iteration 122, loss = 0.36856057
Iteration 123, loss = 0.36847605
Iteration 124, loss = 0.36822889
Iteration 125, loss = 0.36819331
Iteration 126, loss = 0.36798903
Iteration 127, loss = 0.36779868
Iteration 128, loss = 0.36773239
Iteration 129, loss = 0.36773751
Iteration 130, loss = 0.36753972
Iteration 131, loss = 0.36735953
Iteration 132, loss = 0.36721897
Iteration 133, loss = 0.36712721
Iteration 134, loss = 0.36708703
Iteration 135, loss = 0.36682719
Iteration 136, loss = 0.36676386
Iteration 137, loss = 0.36655996
Iteration 138, loss = 0.36650934
Iteration 139, loss = 0.36639144
Iteration 140, loss = 0.36634245
Iteration 141, loss = 0.36618698
Iteration 142, loss = 0.36598124
Iteration 143, loss = 0.36599279
Iteration 144, loss = 0.36586404
Iteration 145, loss = 0.36578422
Iteration 146, loss = 0.36557393
Iteration 147, loss = 0.36550680
Iteration 148, loss = 0.36540449
Iteration 149, loss = 0.36534473
Iteration 150, loss = 0.36517568
Iteration 151, loss = 0.36508048
Iteration 152, loss = 0.36492215
Iteration 153, loss = 0.36486158
Iteration 154, loss = 0.36475884
Iteration 155, loss = 0.36454942
Iteration 156, loss = 0.36449169
Iteration 157, loss = 0.36435768
Iteration 158, loss = 0.36417764
Iteration 159, loss = 0.36403505
Iteration 160, loss = 0.36381819
Iteration 161, loss = 0.36357816
Iteration 162, loss = 0.36356562
Iteration 163, loss = 0.36353196
Iteration 164, loss = 0.36334622
Iteration 165, loss = 0.36313513
Iteration 166, loss = 0.36309943
Iteration 167, loss = 0.36306215
Iteration 168, loss = 0.36281977
Iteration 169, loss = 0.36275357
Iteration 170, loss = 0.36266448
Iteration 171, loss = 0.36255921
Iteration 172, loss = 0.36237916
Iteration 173, loss = 0.36240125
Iteration 174, loss = 0.36211926
Iteration 175, loss = 0.36217907
Iteration 176, loss = 0.36206735
Iteration 177, loss = 0.36193075
Iteration 178, loss = 0.36177023
Iteration 179, loss = 0.36164452
Iteration 180, loss = 0.36141109
Iteration 181, loss = 0.36143751
Iteration 182, loss = 0.36124735
Iteration 183, loss = 0.36120437
Iteration 184, loss = 0.36110056
Iteration 185, loss = 0.36104521
Iteration 186, loss = 0.36085705
Iteration 187, loss = 0.36089427
Iteration 188, loss = 0.36077665
Iteration 189, loss = 0.36062212
Iteration 190, loss = 0.36056507
Iteration 191, loss = 0.36039719
Iteration 192, loss = 0.36043354
Iteration 193, loss = 0.36018361
Iteration 194, loss = 0.36019688
Iteration 195, loss = 0.36011239
Iteration 196, loss = 0.36001366
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('mlpclassifier', MLPClassifier(activation='tanh', alpha=1e-05, batch_size='auto', beta_1=0.9,
      ...,
       solver='adam', tol=0.0001, validation_fraction=0.1, verbose=True,
       warm_start=True))])

In [14]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

69147
68555

# Prediccion

In [15]:
pred = clf.predict(X_test)

In [16]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

67329
70373

In [17]:
print (accuracy_score(y_test, pred))

0.8457103019563986

In [18]:
pred.shape

(137702,)

In [19]:
prediction_set = pd.read_csv('data/set_prediccion_21.csv')
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,1770,3,4,28,1,0,0,1,Cantagalo,...,9,6,70,10956,18,5,4,18,5,4
1,4886f805,0,0,0,0,0,0,0,1,Cantagalo,...,0,0,1,10956,0,0,0,18,5,4
2,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,567,8,15,365,22,5,1,2,5,2
3,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,567,8,15,365,22,5,1,2,5,2
4,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,567,8,15,365,22,5,1,3,5,3

In [20]:
dfix_prediction = prediction_set.loc[:,['color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'visitas_sitio','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio','cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user','mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['condition', 'storage', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_visit_user','mes_visit_user','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',]]
X_full_data = np.array(dfix_prediction)

In [21]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [22]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,1770,3,4,28,1,0,0,1,Cantagalo,...,6,70,10956,18,5,4,18,5,4,0
1,4886f805,0,0,0,0,0,0,0,1,Cantagalo,...,0,1,10956,0,0,0,18,5,4,0
2,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,8,15,365,22,5,1,2,5,2,0
3,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,8,15,365,22,5,1,2,5,2,0
4,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,8,15,365,22,5,1,3,5,3,0

In [23]:
del X_full_data
del pred_full_data

# Resultado

In [24]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [25]:
result.count()

person    19415
dtype: int64

In [26]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
# result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [27]:
result.count()

person    1298410
label     1298410
dtype: int64

In [28]:
result = result.drop_duplicates()
result.count()

person    24009
label     24009
dtype: int64

## Criterio de Duplicados

### OPCION 1

In [29]:
# OPCION 1: eliminamos duplicados haciendo un groupby por person 
# quedandonos con label 1 si la suma es mayor a 0
result1 = result.groupby('person').sum()
result1.reset_index(inplace=True)
result1[['label']] = result1[['label']].applymap(lambda x: 1 if x > 0 else 0)
result1.count()

person    19415
label     19415
dtype: int64

In [30]:
result1[result1['label'] == 1].shape

(4599, 2)

In [31]:
result1[result1['label'] == 0].shape

(14816, 2)

In [32]:
result1.head()

     person  label
0  00091926      0
1  00091a7a      0
2  000ba417      1
3  000e4d9e      0
4  000e619d      0

In [33]:
result1.tail()

         person  label
19410  fff1b11a      1
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [34]:
result1.to_csv('data/result_MLP_set21_var_features.csv', encoding='utf-8', index=False)

### OPCION 2

In [36]:
# OPCION 2: eliminamos duplicados haciendo un groupby por person
# quedandonos con el valor del label que tanga mayor cantidad de 0s o 1s
result2 = result
result2['cantidad'] = 1 
result2 = pd.DataFrame({'label': result.groupby('person').aggregate(sum)['label'], 'cantidad': result.groupby('person').aggregate(sum)['cantidad']}).reset_index()
result2['criterio'] = (result2.label - (result2.cantidad/2))
result2['label'] = result2['criterio'].apply(lambda x: 1 if (x >= 0) else 0)
result2.drop(['criterio','cantidad'], axis=1, inplace=True)
result2.count()

person    19415
label     19415
dtype: int64

In [37]:
result2[result2['label'] == 1].shape

(3643, 2)

In [38]:
result2[result2['label'] == 0].shape

(15772, 2)

In [39]:
result2.head()

     person  label
0  00091926      0
1  00091a7a      1
2  000ba417      0
3  000e4d9e      0
4  000e619d      0

In [40]:
result2.tail()

         person  label
19410  fff1b11a      1
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      0
19414  fffd1246      0

In [41]:
result2.to_csv('data/result_MLP_set17_two_labels.csv', encoding='utf-8', index=False)