In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_4.csv')
training_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,380c0e60,3,3,3,2,1,2,3,4,13,...,15,29,5,7,13,29,5,11,32,0
1,380c0e60,3,3,3,2,0,2,3,4,13,...,15,29,5,7,13,23,4,3,43,0
2,380c0e60,3,3,3,2,1,2,3,4,13,...,15,29,5,7,13,2,5,7,7,0
3,380c0e60,3,3,3,2,1,2,3,4,13,...,15,29,5,7,13,22,5,8,25,0
4,380c0e60,3,3,3,2,1,2,3,4,13,...,15,29,5,7,13,23,5,8,59,0

In [3]:
training_set.columns

Index(['person', 'model', 'condition', 'storage', 'color', 'new_vs_returning',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'dia_view_prod',
       'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user',
       'mes_visit_user', 'hora_visit_user', 'minuto_visit_user', 'label'],
      dtype='object')

# Entrenamiento

In [4]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [6]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [7]:
del training_set
del dfix

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [ ]:
#Busco el mejor k aproximadamente
for i in range(1, 15):    
    knn = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    PCA(n_components=3), 
#                     MLPClassifier()
                    KNeighborsClassifier(n_neighbors=i)
                   )
    knn.fit(X_train, y_train)                   
    pred = knn.predict(X_test)              
    print ("# " + str(i) + ": " + str(accuracy_score(y_test, pred)))
    
# 1: 0.8711083976830339
# 2: 0.9074947144682246
# 3: 0.897703761489672
# 4: 0.9059382619739436
# 5: 0.9005302490700856
# 6: 0.9070236332048224
# 7: 0.9047699804407059
# 8: 0.9064922535397046
# 9: 0.9052749795550732
# 10: 0.9066090816930283
# 11: 0.9063980372870242
# 12: 0.9068088201487109
# 13: 0.9062359853324138
# 14: 0.9070801629564307
# 15: 0.9065902384424923
# 16: 0.9068201260990326
# 17: 0.9062472912827354
# 18: 0.9064018059371314
# 19: 0.9069256483020347
# 20: 0.9068314320493542
# 21: 0.906722141196245
# 22: 0.906360350785952

In [9]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    PCA(n_components=3), 
#                     MLPClassifier()
                    KNeighborsClassifier(n_neighbors=8)
                   )

In [10]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('pca', PCA(copy=True, iterated_power='auto', n_components=3, random_state=None,
  svd_solver='auto',...owski',
           metric_params=None, n_jobs=1, n_neighbors=8, p=2,
           weights='uniform'))])

# Prediccion

In [11]:
pred = clf.predict(X_test)

In [12]:
print (accuracy_score(y_test, pred))

0.944078914831574

In [13]:
pred.shape

(2123099,)

In [14]:
prediction_set = pd.read_csv('data/set_prediccion_4.csv')
prediction_set.head()

/home/prpablo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
0,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,12,5,3,2
1,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,12,5,5,2
2,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,15,5,1,15
3,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,18,5,1,5
4,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,18,5,1,52

In [15]:
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
X_full_data = np.array(dfix_prediction)

In [16]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [17]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user,label
0,49c19e32,1,1,1,1,1,2,3,4,5,...,7,18,5,1,12,12,5,3,2,0
1,49c19e32,1,1,1,1,1,2,3,4,5,...,7,18,5,1,12,12,5,5,2,0
2,49c19e32,1,1,1,1,1,2,3,4,5,...,7,18,5,1,12,15,5,1,15,0
3,49c19e32,1,1,1,1,1,2,3,4,5,...,7,18,5,1,12,18,5,1,5,0
4,49c19e32,1,1,1,1,1,2,3,4,5,...,7,18,5,1,12,18,5,1,52,0

In [18]:
del X_full_data
del pred_full_data

# Resultado

In [19]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [20]:
result.count()

person    19415
dtype: int64

In [21]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [22]:
result.count()

person    7761946
label     7761946
dtype: int64

In [23]:
result = result.drop_duplicates()
result.count()

person    24799
label     24799
dtype: int64

In [24]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [25]:
result[result['label'] == 1].shape

(5439, 2)

In [26]:
result[result['label'] == 0].shape

(13976, 2)

In [27]:
result.to_csv('data/result_pipeline_knn_8_pca_quantile_set4.csv', encoding='utf-8', index=False)

In [28]:
result.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      0
3  000e4d9e      1
4  000e619d      1