In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn import tree
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_7.csv')
training_set.head()

,browser_version,color,compras_prod,condition,country,device_type,model,new_vs_returning,operating_system_version,otros,...,visitas_sitio,vistas_prod,label,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,103,21,1,4,5,2,175,1,19,0,...,1,0,0,12933,14,5,0,14,5,0
1,103,21,1,4,5,2,175,2,19,0,...,1,0,0,12933,14,5,0,16,5,2
2,103,21,1,4,5,2,175,2,19,0,...,1,0,0,12933,14,5,0,18,5,4
3,103,21,1,4,5,2,175,2,19,0,...,1,0,0,12933,14,5,0,18,5,4
4,103,21,1,4,5,2,175,2,19,0,...,1,0,0,12933,14,5,0,22,5,1

In [3]:
training_set.columns

Index(['browser_version', 'color', 'compras_prod', 'condition', 'country',
       'device_type', 'model', 'new_vs_returning', 'operating_system_version',
       'otros', 'person', 'region', 'screen_resolution', 'storage',
       'visitas_sitio', 'vistas_prod', 'label', 'person_int', 'dia_view_prod',
       'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user',
       'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

# Entrenamiento

In [4]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [5]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [6]:
del training_set
del dfix

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [8]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

207560
497084

In [9]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    tree.DecisionTreeClassifier()
                   )

In [10]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('decisiontreeclassifier', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None...      min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'))])

In [11]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

69083
165799

# Prediccion

In [12]:
pred = clf.predict(X_test)

In [13]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

68842
166040

In [14]:
print (accuracy_score(y_test, pred))

0.9878790201037116

In [15]:
pred.shape

(234882,)

In [19]:
prediction_set = pd.read_csv('data/set_prediccion_7.csv')
prediction_set.head()

,person,model,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,operating_system_version,browser_version,visitas_sitio,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,97,3,4,28,1,0,0,1,78,...,24,110,1,5476,18,5,4,18,5,4
1,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,2,5,2
2,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,2,5,2
3,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,3,5,3
4,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,10,5,3

In [20]:
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
X_full_data = np.array(dfix_prediction)

In [21]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [22]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,browser_version,visitas_sitio,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,97,3,4,28,1,0,0,1,78,...,110,1,5476,18,5,4,18,5,4,0
1,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,2,5,2,0
2,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,2,5,2,0
3,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,3,5,3,0
4,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,10,5,3,0

In [23]:
del X_full_data
del pred_full_data

# Resultado

In [24]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [25]:
result.count()

person    19415
dtype: int64

In [26]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
result['label'] = result['label'].astype('int')

In [27]:
result.count()

person    1293877
label     1293877
dtype: int64

In [28]:
result = result.drop_duplicates()
result.count()

person    25298
label     25298
dtype: int64

In [29]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [30]:
result[result['label'] == 1].shape

(6139, 2)

In [31]:
result[result['label'] == 0].shape

(13276, 2)

In [32]:
result.to_csv('data/result_decision_tree_quantile_set7.csv', encoding='utf-8', index=False)

In [33]:
result.head()

     person  label
0  00091926      0
1  00091a7a      0
2  000ba417      0
3  000e4d9e      1
4  000e619d      0