In [38]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [39]:
training_set = pd.read_csv('data/set_entrenamiento_8.csv')
training_set.head()

,browser_version,color,compras_prod,condition,country,device_type,model,new_vs_returning,operating_system_version,otros,...,visitas_sitio,vistas_prod,label,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,102,21,1,4,5,2,174,1,19,0,...,1,0,0,12377,14,5,0,14,5,0
1,102,21,1,4,5,2,174,2,19,0,...,1,0,0,12377,14,5,0,16,5,2
2,102,21,1,4,5,2,174,2,19,0,...,1,0,0,12377,14,5,0,18,5,4
3,102,21,1,4,5,2,174,2,19,0,...,1,0,0,12377,14,5,0,18,5,4
4,102,21,1,4,5,2,174,2,19,0,...,1,0,0,12377,14,5,0,22,5,1

In [40]:
training_set.columns

Index(['browser_version', 'color', 'compras_prod', 'condition', 'country',
       'device_type', 'model', 'new_vs_returning', 'operating_system_version',
       'otros', 'person', 'region', 'screen_resolution', 'storage',
       'visitas_sitio', 'vistas_prod', 'label', 'person_int', 'dia_view_prod',
       'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user',
       'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

# Entrenamiento

In [41]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [42]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [43]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [44]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [45]:
del training_set
del dfix

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [47]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

207540
295203

In [9]:
#Busco el mejor k aproximadamente
for i in range(1, 15):    
    knn = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    PCA(n_components=3), 
#                     MLPClassifier()
                    KNeighborsClassifier(n_neighbors=i)
                   )
    knn.fit(X_train, y_train)                   
    pred = knn.predict(X_test)              
    print ("# " + str(i) + ": " + str(accuracy_score(y_test, pred)))
    
# 1: 0.8711083976830339
# 2: 0.9074947144682246
# 3: 0.897703761489672
# 4: 0.9059382619739436
# 5: 0.9005302490700856
# 6: 0.9070236332048224
# 7: 0.9047699804407059
# 8: 0.9064922535397046
# 9: 0.9052749795550732
# 10: 0.9066090816930283
# 11: 0.9063980372870242
# 12: 0.9068088201487109
# 13: 0.9062359853324138
# 14: 0.9070801629564307
# 15: 0.9065902384424923
# 16: 0.9068201260990326
# 17: 0.9062472912827354
# 18: 0.9064018059371314
# 19: 0.9069256483020347
# 20: 0.9068314320493542
# 21: 0.906722141196245
# 22: 0.906360350785952

# 1: 0.907178923885185
# 2: 0.8861172844236681
# 3: 0.8696622133667118
# 4: 0.8620158207099735
# 5: 0.8529431799797345
# 6: 0.8495031547755895
# 7: 0.8441387590364523
# 8: 0.8427636004461815
# 9: 0.8381740618693642
# 10: 0.8374588091041459
# 11: 0.8342103694621129
# 12: 0.8336143254910977
# 13: 0.8320135216832282
# 14: 0.830838463568941

In [10]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    PCA(n_components=3), 
#                     MLPClassifier()
                    KNeighborsClassifier(n_neighbors=8)
                   )

In [11]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('pca', PCA(copy=True, iterated_power='auto', n_components=3, random_state=None,
  svd_solver='auto',...owski',
           metric_params=None, n_jobs=1, n_neighbors=8, p=2,
           weights='uniform'))])

In [12]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

69083
165799

# Prediccion

In [13]:
pred = clf.predict(X_test)

In [14]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

58048
176834

In [15]:
print (accuracy_score(y_test, pred))

0.8425379552285829

In [16]:
pred.shape

(234882,)

In [18]:
prediction_set = pd.read_csv('data/set_prediccion_7.csv')
prediction_set.head()

,person,model,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,operating_system_version,browser_version,visitas_sitio,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,97,3,4,28,1,0,0,1,78,...,24,110,1,5476,18,5,4,18,5,4
1,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,2,5,2
2,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,2,5,2
3,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,3,5,3
4,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,10,5,3

In [25]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
X_full_data = np.array(dfix_prediction)

In [26]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

NameError: name 'X' is not defined

In [27]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,browser_version,visitas_sitio,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,97,3,4,28,1,0,0,1,78,...,110,1,5476,18,5,4,18,5,4,0
1,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,2,5,2,0
2,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,2,5,2,0
3,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,3,5,3,0
4,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,10,5,3,0

In [28]:
del X_full_data
del pred_full_data

# Resultado

In [29]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [30]:
result.count()

person    19415
dtype: int64

In [31]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [32]:
result.count()

person    1293877
label     1293877
dtype: int64

In [33]:
result = result.drop_duplicates()
result.count()

person    24782
label     24782
dtype: int64

In [34]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [35]:
result[result['label'] == 1].shape

(5391, 2)

In [36]:
result[result['label'] == 0].shape

(14024, 2)

In [27]:
result.to_csv('data/result_pipeline_knn_8_pca_quantile_set4.csv', encoding='utf-8', index=False)

In [37]:
result.head()

     person  label
0  00091926      0
1  00091a7a      0
2  000ba417      1
3  000e4d9e      0
4  000e619d      1