In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn import tree
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_13.csv')
training_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,label,compras_prod,vistas_prod,otros,visitas_sitio,person_int,dia,mes,dia_semana
0,ad93850f,172,4,4,21,0,0,0,0,0,...,0,0,1,0,0,0,11288,14,5,0
1,1b9f7cf6,173,1,7,28,0,0,0,0,0,...,0,0,1,0,0,0,1819,18,5,4
2,de8fe91b,93,3,4,28,0,0,0,0,0,...,0,0,1,0,0,0,14531,18,5,4
3,45baf068,120,1,4,28,0,0,0,0,0,...,0,0,1,0,0,0,4572,18,5,4
4,64f45e8d,124,3,7,38,0,0,0,0,0,...,0,0,1,0,0,0,6606,17,5,3

In [3]:
training_set.columns

Index(['person', 'model', 'condition', 'storage', 'color', 'new_vs_returning',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'label', 'compras_prod',
       'vistas_prod', 'otros', 'visitas_sitio', 'person_int', 'dia', 'mes',
       'dia_semana'],
      dtype='object')

# Entrenamiento

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [6]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'compras_prod', 'vistas_prod', 'otros', 'visitas_sitio', 'person_int', 'dia', 'mes', 'dia_semana']]

In [7]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [8]:
del training_set
del dfix

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [10]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

18600
65672

In [11]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    tree.DecisionTreeClassifier()
                   )

In [12]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('decisiontreeclassifier', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None...      min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'))])

In [13]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

6299
21792

# Prediccion

In [14]:
pred = clf.predict(X_test)

In [15]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

6461
21630

In [16]:
print (accuracy_score(y_test, pred))

0.9361361290092912

In [17]:
pred.shape

(28091,)

In [18]:
prediction_set = pd.read_csv('data/set_prediccion_8.csv')
prediction_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,compras_prod,vistas_prod,otros,visitas_sitio,person_int,dia,mes,dia_semana
0,4886f805,97,3,4,28,0,0,0,0,0,0,0,1,0,0,0,5476,18,5,4
1,0297fc1e,180,1,4,34,0,0,0,0,0,0,0,1,0,0,0,189,22,5,1
2,0297fc1e,181,1,2,21,0,0,0,0,0,0,0,1,0,0,0,189,10,5,3
3,0297fc1e,178,4,7,28,0,0,0,0,0,0,0,1,0,0,0,189,25,2,6
4,0297fc1e,178,1,7,28,0,0,0,0,0,0,0,1,0,0,0,189,31,1,2

In [19]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'compras_prod', 'vistas_prod', 'otros', 'visitas_sitio', 'person_int', 'dia', 'mes', 'dia_semana']]
X_full_data = np.array(dfix_prediction)

In [20]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [21]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,...,browser_version,compras_prod,vistas_prod,otros,visitas_sitio,person_int,dia,mes,dia_semana,label
0,4886f805,97,3,4,28,0,0,0,0,0,...,0,1,0,0,0,5476,18,5,4,0
1,0297fc1e,180,1,4,34,0,0,0,0,0,...,0,1,0,0,0,189,22,5,1,0
2,0297fc1e,181,1,2,21,0,0,0,0,0,...,0,1,0,0,0,189,10,5,3,0
3,0297fc1e,178,4,7,28,0,0,0,0,0,...,0,1,0,0,0,189,25,2,6,0
4,0297fc1e,178,1,7,28,0,0,0,0,0,...,0,1,0,0,0,189,31,1,2,0

In [22]:
del X_full_data
del pred_full_data

# Resultado

In [23]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [24]:
result.count()

person    19415
dtype: int64

In [25]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
result['label'] = result['label'].astype('int')

In [26]:
result.count()

person    196769
label     196769
dtype: int64

In [27]:
result = result.drop_duplicates()
result.count()

person    28548
label     28548
dtype: int64

In [28]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [29]:
result[result['label'] == 1].shape

(9281, 2)

In [30]:
result[result['label'] == 0].shape

(10134, 2)

In [32]:
result.to_csv('data/result_decision_tree_quantile_set13.csv', encoding='utf-8', index=False)

In [31]:
result.head()

     person  label
0  00091926      1
1  00091a7a      1
2  000ba417      1
3  000e4d9e      0
4  000e619d      1