In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [2]:
training_set = pd.read_csv('data/set_entrenamiento_24.csv')
training_set.head()

,person,label,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,23,5,2
1,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,23,5,2
2,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,24,5,3
3,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,24,5,3
4,0566e9c1,0,798,1,8,9,1,1,0,2,...,68,8,9,825,23,5,2,25,5,4

In [3]:
training_set.columns

Index(['person', 'label', 'sku', 'condition', 'storage', 'color',
       'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'city',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'visitas_sitio',
       'cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',
       'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod',
       'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user',
       'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

# Entrenamiento

In [4]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix = training_set.loc[:,['sku', 'condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]
dfix = training_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]

In [5]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [6]:
del training_set
del dfix

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [8]:
clf = make_pipeline(
                    preprocessing.QuantileTransformer(), 
                    GaussianNB()
                   )

In [9]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('gaussiannb', GaussianNB(priors=None))])

# Prediccion

In [12]:
pred = clf.predict(X_test)

In [13]:
print (accuracy_score(y_test, pred))

0.5869972336916255

In [14]:
pred.shape

(268589,)

In [15]:
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [16]:
prediction_set = pd.read_csv('data/set_prediccion_24.csv')
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,1770,3,4,28,1,1,0,1,94,...,9,6,70,10956,18,5,4,18,5,4
1,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,2,5,2
2,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,2,5,2
3,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,3,5,3
4,0297fc1e,1715,1,4,34,1,1,0,2,94,...,567,8,15,365,22,5,1,10,5,3

In [17]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['sku', 'condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]
dfix_prediction = prediction_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'city','region', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'cant_eventos', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_visit_user', 'mes_visit_user']]
X_full_data = np.array(dfix_prediction)

In [18]:
del dfix_prediction

In [19]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,1770,3,4,28,1,1,0,1,94,...,6,70,10956,18,5,4,18,5,4,0
1,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,2,5,2,0
2,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,2,5,2,0
3,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,3,5,3,0
4,0297fc1e,1715,1,4,34,1,1,0,2,94,...,8,15,365,22,5,1,10,5,3,0

In [20]:
del X_full_data
del pred_full_data

# Resultado

In [21]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [22]:
result.count()

person    19415
dtype: int64

In [23]:
result = result.merge(prediction_set, how='left', on='person')
result = result[['person', 'label']]
result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [24]:
result.count()

person    1197085
label     1197085
dtype: int64

In [25]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [26]:
result[result['label'] == 1].shape

(6325, 2)

In [27]:
result[result['label'] == 0].shape

(13090, 2)

In [24]:
result.to_csv('data/result_GaussianNB_set24_.csv', encoding='utf-8', index=False)

In [28]:
result.head()

     person  label
0  00091926      1
1  00091a7a      0
2  000ba417      1
3  000e4d9e      1
4  000e619d      1