In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

/home/prpablo/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [7]:
training_set = pd.read_csv('data/set_entrenamiento_21.csv')
training_set.head()

,person,label,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,23,5,2
1,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,23,5,2
2,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,24,5,3
3,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,24,5,3
4,0566e9c1,0,798,1,8,9,1,0,0,2,...,68,8,9,825,23,5,2,25,5,4

In [3]:
training_set.columns

Index(['person', 'label', 'sku', 'condition', 'storage', 'color',
       'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'city',
       'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'visitas_sitio',
       'cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio',
       'cant_eventos', 'marca', 'modelo', 'person_int', 'dia_view_prod',
       'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user',
       'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

# Entrenamiento

In [4]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [5]:
# dfix = training_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [6]:
dfix = training_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'visitas_sitio','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio','cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user','mes_visit_user', 'dia_sem_visit_user']]

In [7]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [8]:
del training_set
del dfix

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [10]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

208126
674015

In [11]:
# clf = make_pipeline(
#                     preprocessing.QuantileTransformer(), 
#                     tree.DecisionTreeClassifier()
#                    )

clf = RandomForestClassifier(n_estimators=10)

In [12]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [13]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

69487
224561

# Prediccion

In [14]:
pred = clf.predict(X_test)

In [15]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

68943
225105

In [16]:
print (accuracy_score(y_test, pred))

0.9980071280879312

In [17]:
pred.shape

(294048,)

In [18]:
prediction_set = pd.read_csv('data/set_prediccion_21.csv')
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,cant_eventos,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,1770,3,4,28,1,0,0,1,Cantagalo,...,9,6,70,10956,18,5,4,18,5,4
1,4886f805,0,0,0,0,0,0,0,1,Cantagalo,...,0,0,1,10956,0,0,0,18,5,4
2,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,567,8,15,365,22,5,1,2,5,2
3,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,567,8,15,365,22,5,1,2,5,2
4,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,567,8,15,365,22,5,1,3,5,3

In [19]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
# dfix_prediction = prediction_set.loc[:,['browser_version', 'color', 'compras_prod', 'condition', 'country', 'device_type', 'new_vs_returning', 'operating_system_version', 'otros', 'region', 'screen_resolution', 'storage', 'visitas_sitio', 'vistas_prod', 'marca', 'modelo', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
dfix_prediction = prediction_set.loc[:,['condition', 'storage', 'color','compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution','operating_system_version', 'browser_version', 'visitas_sitio','cant_compras', 'cant_vistas', 'cant_otros', 'cant_visitas_sitio','cant_eventos', 'marca', 'modelo', 'dia_view_prod','mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user','mes_visit_user', 'dia_sem_visit_user']]
X_full_data = np.array(dfix_prediction)

In [20]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [21]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,city,...,marca,modelo,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,1770,3,4,28,1,0,0,1,Cantagalo,...,6,70,10956,18,5,4,18,5,4,0
1,4886f805,0,0,0,0,0,0,0,1,Cantagalo,...,0,1,10956,0,0,0,18,5,4,0
2,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,8,15,365,22,5,1,2,5,2,0
3,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,8,15,365,22,5,1,2,5,2,0
4,0297fc1e,1715,1,4,34,1,0,0,2,Rio de Janeiro,...,8,15,365,22,5,1,3,5,3,0

In [22]:
del X_full_data
del pred_full_data

# Resultado

In [23]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [24]:
result.count()

person    19415
dtype: int64

In [25]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
# result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [26]:
result.count()

person    1298410
label     1298410
dtype: int64

In [27]:
result = result.drop_duplicates()
result.count()

person    19996
label     19996
dtype: int64

## Criterio de Duplicados

### OPCION 1

In [28]:
# OPCION 1: eliminamos duplicados haciendo un groupby por person 
# quedandonos con label 1 si la suma es mayor a 0
result1 = result.groupby('person').sum()
result1.reset_index(inplace=True)
result1[['label']] = result1[['label']].applymap(lambda x: 1 if x > 0 else 0)
result1.count()

person    19415
label     19415
dtype: int64

In [29]:
result1[result1['label'] == 1].shape

(589, 2)

In [30]:
result1[result1['label'] == 0].shape

(18826, 2)

In [52]:
result1.head()

     person  label
0  00091926      0
1  00091a7a      0
2  000ba417      0
3  000e4d9e      0
4  000e619d      0

In [53]:
result1.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [54]:
result1.to_csv('data/result_random_forest_set17.csv', encoding='utf-8', index=False)

### OPCION 2

In [55]:
# OPCION 2: eliminamos duplicados haciendo un groupby por person
# quedandonos con el valor del label que tanga mayor cantidad de 0s o 1s
result2 = result
result2['cantidad'] = 1 
result2 = pd.DataFrame({'label': result.groupby('person').aggregate(sum)['label'], 'cantidad': result.groupby('person').aggregate(sum)['cantidad']}).reset_index()
result2['criterio'] = (result2.label - (result2.cantidad/3))
result2['label'] = result2['criterio'].apply(lambda x: 1 if (x >= 0) else 0)
result2.drop(['criterio','cantidad'], axis=1, inplace=True)
result2.count()

person    19415
label     19415
dtype: int64

In [56]:
result2[result2['label'] == 1].shape

(3342, 2)

In [57]:
result2[result2['label'] == 0].shape

(16073, 2)

In [58]:
result2.head()

     person  label
0  00091926      0
1  00091a7a      0
2  000ba417      0
3  000e4d9e      0
4  000e619d      0

In [59]:
result2.tail()

         person  label
19410  fff1b11a      0
19411  fff1caee      0
19412  fff54d61      0
19413  fff72025      1
19414  fffd1246      0

In [ ]:
result2.to_csv('data/result_random_forest_set17.csv', encoding='utf-8', index=False)