In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline

In [3]:
training_set = pd.read_csv('data/set_entrenamiento_9.csv')
training_set.head()

,browser_version,color,compras_prod,condition,country,device_type,model,new_vs_returning,operating_system_version,otros,...,visitas_sitio,vistas_prod,label,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,99,21,1,4,5,2,172,1,19,0,...,1,0,0,11274,14,5,0,14,5,0
1,99,21,1,4,5,2,172,2,19,0,...,1,0,0,11274,14,5,0,16,5,2
2,99,21,1,4,5,2,172,2,19,0,...,1,0,0,11274,14,5,0,18,5,4
3,99,21,1,4,5,2,172,2,19,0,...,1,0,0,11274,14,5,0,18,5,4
4,99,21,1,4,5,2,172,2,19,0,...,1,0,0,11274,14,5,0,22,5,1

In [4]:
training_set.columns

Index(['browser_version', 'color', 'compras_prod', 'condition', 'country',
       'device_type', 'model', 'new_vs_returning', 'operating_system_version',
       'otros', 'person', 'region', 'screen_resolution', 'storage',
       'visitas_sitio', 'vistas_prod', 'label', 'person_int', 'dia_view_prod',
       'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user',
       'mes_visit_user', 'dia_sem_visit_user'],
      dtype='object')

# Entrenamiento

In [4]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [5]:
# dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]

In [5]:
dfix = training_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]

In [6]:
# features a entrenar
X = np.array(dfix)
# feature a predecir
y = np.array(training_set['label'])

In [7]:
del training_set
del dfix

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)

In [9]:
print(np.count_nonzero(y_train == 1))
print(np.count_nonzero(y_train == 0))

207504
163239

In [10]:
# clf = make_pipeline(
#                     preprocessing.QuantileTransformer(), 
#                     tree.DecisionTreeClassifier()
#                    )

clf = RandomForestClassifier()

In [11]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [12]:
print(np.count_nonzero(y_test == 1))
print(np.count_nonzero(y_test == 0))

69139
54443

# Prediccion

In [13]:
pred = clf.predict(X_test)

In [14]:
print(np.count_nonzero(pred == 1))
print(np.count_nonzero(pred == 0))

68151
55431

In [15]:
print (accuracy_score(y_test, pred))

0.9806120632454565

In [16]:
pred.shape

(123582,)

In [17]:
prediction_set = pd.read_csv('data/set_prediccion_7.csv')
prediction_set.head()

,person,model,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,operating_system_version,browser_version,visitas_sitio,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,4886f805,97,3,4,28,1,0,0,1,78,...,24,110,1,5476,18,5,4,18,5,4
1,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,2,5,2
2,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,2,5,2
3,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,3,5,3
4,0297fc1e,180,1,4,34,1,0,0,2,78,...,22,111,1,189,22,5,1,10,5,3

In [18]:
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'dia_view_prod', 'mes_view_prod', 'hora_view_prod', 'minuto_view_prod', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
# dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'new_vs_returning', 'region', 'country', 'device_type', 'operating_system_version', 'dia_visit_user', 'mes_visit_user', 'hora_visit_user', 'minuto_visit_user']]
dfix_prediction = prediction_set.loc[:,['model', 'condition', 'storage', 'color', 'compras_prod', 'vistas_prod', 'otros', 'new_vs_returning', 'region', 'country', 'device_type', 'screen_resolution', 'operating_system_version', 'browser_version', 'visitas_sitio', 'dia_view_prod', 'mes_view_prod', 'dia_sem_view_prod', 'dia_visit_user', 'mes_visit_user', 'dia_sem_visit_user']]
X_full_data = np.array(dfix_prediction)

In [19]:
del dfix_prediction
del X
del y
del X_train 
del X_test 
del y_train 
del y_test

In [20]:
pred_full_data = clf.predict(X_full_data)
prediction_set['label'] = pred_full_data
prediction_set.head()

,person,model,condition,storage,color,compras_prod,vistas_prod,otros,new_vs_returning,region,...,browser_version,visitas_sitio,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user,label
0,4886f805,97,3,4,28,1,0,0,1,78,...,110,1,5476,18,5,4,18,5,4,0
1,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,2,5,2,0
2,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,2,5,2,0
3,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,3,5,3,0
4,0297fc1e,180,1,4,34,1,0,0,2,78,...,111,1,189,22,5,1,10,5,3,0

In [21]:
del X_full_data
del pred_full_data

# Resultado

In [22]:
result = pd.read_csv('data/trocafone_kaggle_test.csv')
result.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [23]:
result.count()

person    19415
dtype: int64

In [25]:
result = result.merge(prediction_set, how='inner', on='person')
result = result[['person', 'label']]
# result.fillna(0, inplace=True)
result['label'] = result['label'].astype('int')

In [26]:
result.count()

person    1293877
label     1293877
dtype: int64

In [27]:
result = result.drop_duplicates()
result.count()

person    23683
label     23683
dtype: int64

In [28]:
# eliminamos duplicados haciendo un groupby por person y quedandonos con label 1 si la suma es mayor a 0
result = result.groupby('person').sum()
result.reset_index(inplace=True)
result[['label']] = result[['label']].applymap(lambda x: 1 if x > 0 else 0)
result.count()

person    19415
label     19415
dtype: int64

In [29]:
result[result['label'] == 1].shape

(4286, 2)

In [30]:
result[result['label'] == 0].shape

(15129, 2)

In [27]:
result.to_csv('data/result_decision_tree.csv', encoding='utf-8', index=False)

In [31]:
result.head()

     person  label
0  00091926      0
1  00091a7a      0
2  000ba417      0
3  000e4d9e      0
4  000e619d      0